style "pixmap-panel"
{
	xthickness = 2 # The spacing (padding) inside and between applets. Add a lower value for a more compact look.
	ythickness = 2

	fg[NORMAL]		= lighter (@fg_color)
	fg[PRELIGHT]	= shade (1.75, @selected_bg_color)
	fg[ACTIVE]		= lighter (@fg_color)

#	bg_pixmap[NORMAL] = "/Panel/panel-bg-new.svg" # Disable for normal panel backgrounds.
	bg[NORMAL]       	= shade (1.0, @window_active_color)
#	bg[ACTIVE]			= @selected_bg_color
#	bg[PRELIGHT]      	= shade(1.75, @selected_bg_color)
#	bg[SELECTED]      	= @selected_bg_color
	
	engine "pixmap" {
		image {
			function	= BOX
			recolorable	= TRUE
			state		= NORMAL
			file		= "Panel/panel-button-inactive.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= PRELIGHT
			file		= "Panel/panel-button-hover.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= ACTIVE
			file		= "Panel/panel-button-active.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= SELECTED
			file		= "Panel/panel-button-active.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= INSENSITIVE

		}
	}
}

style "panel-buttons" = "default"
{
	xthickness = 2
	ythickness = 0

	fg[NORMAL]		= lighter (@fg_color)
	fg[PRELIGHT]	= shade (1.75, @selected_bg_color)
	fg[ACTIVE]		= lighter (@fg_color)

	bg[NORMAL]       	=  shade (1.0, @window_active_color)
#	bg[ACTIVE]			=  @selected_bg_color
#	bg[PRELIGHT]      	=  shade(1.75, @selected_bg_color)
#	bg[SELECTED]      	=  @selected_bg_color

	engine "pixmap" {
		image {
			function	= BOX
			recolorable	= TRUE
			state		= NORMAL
			file		= "Panel/panel-button-inactive.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= PRELIGHT
			file		= "Panel/panel-button-hover.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= ACTIVE
			file		= "Panel/panel-button-active.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= SELECTED
			file		= "Panel/panel-button-active.png"
			border		= { 4, 4, 1, 1 }
			stretch		= TRUE
		}
		image {
			function	= BOX
			recolorable	= TRUE
			state		= INSENSITIVE

		}
	}
}

style "theme-panel-light"
{
	xthickness = 1
	ythickness = 0

	fg[NORMAL] = @fg_color

	engine "murrine" {
		textstyle = 0
		roundness = 0
	}
}

style "theme-panel-text"
{
	fg[NORMAL]		= @fg_color
	fg[PRELIGHT]	= "#ffffff"
	fg[ACTIVE]		= "#f5f5f5"

	text[NORMAL]	= "#f5f5f5"
	text[PRELIGHT]	= "#ffffff"
	text[ACTIVE]	= "#f5f5f5"
	
#	bg[NORMAL]	= @test2

	engine "murrine" { }
}

style "theme-main-menu-text" = "theme-panel-text"
{
	fg[PRELIGHT]	= "#ffffff"
	text[PRELIGHT]	= "#ffffff"
}

style "theme-panel-handle" 
{
	engine "pixmap" {    
		image {
			function = HANDLE
		}    
		image {
			function = HANDLE
		}
	}
}

# XFCE panel theming.
widget "*Xfce*Panel*"				style "pixmap-panel"
class "*Xfce*Panel*"					style "pixmap-panel"

# Other (MATE) panel

widget "*PanelWidget*"				style "panel-buttons"
# widget "*PanelApplet*"				style "panel-buttons"
widget "*fast-user-switch*"			style "panel-buttons"
widget "*CPUFreq*Applet*"			style "panel-buttons"
widget "*indicator-applet*"			style "panel-buttons"
class "PanelApp*"					style "panel-buttons"
class "PanelToplevel*"				style "panel-buttons"
widget_class "*PanelToplevel*"		style "panel-buttons"

# widget_class "*notif*"			style "panel-buttons"
# widget_class "*Notif*"			style "panel-buttons"
# widget_class "*Tray*"			style "panel-buttons" 
# widget_class "*tray*"			style "panel-buttons"
# widget_class "*computertemp*"		style "panel-buttons"
# widget_class "*Applet*Tomboy*"		style "panel-buttons"
# widget_class "*Applet*Netstatus*"	style "panel-buttons"

# Fixes for tooltip text in some apps.
# widget_class "*Notif*Beagle*"	style "theme-panel-light"
# widget_class "*Notif*Brasero*"	style "theme-panel-light"

# lxpanel and fbpanel
# widget "*.tclock.*"		style "panel-buttons"
# widget "*.taskbar.*"		style "panel-buttons"
# widget_class "*GtkBgbox*"	style "panel-buttons"

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"		style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*"	style "theme-main-menu-text"
widget "*.clock-applet-button.*"		style "panel-buttons"
widget "*PanelApplet*"				style "panel-buttons"

# Hide ugly handle
class "PanelAppletFrame" 			style:highest "theme-panel-handle"

# The following removes the arrows from the panel

style "panel-arrow-remove" {
engine "pixmap" {
	image {
		function	= ARROW
		recolorable	= TRUE
		overlay_file	= "Panel/arrow-blank.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= UP
		}
	image {
		function	= ARROW
		recolorable	= TRUE
		overlay_file	= "Panel/arrow-blank.png"
		overlay_border	= {2,2,2,2}
		overlay_stretch	= FALSE
		arrow_direction	= DOWN
		}
	}
}

widget_class "*PanelToplevel*" style "panel-arrow-remove"
